@charset "UTF-8";
 body{
    background-color: #fcfbf1;
    h1 { color: #2F65B6; font-size: 40px; font-family: Arial, Helvetica, sans-serif; text-align: center;}
    p {font-family: initial; color: rgb(0, 0, 0);}
    h2{color:
      #1259C3;}
    h3 {color: rgb(43, 43, 43);}
    
 }