@charset "UTF-8";
        body {background-color: rgb(244, 255, 147); color: rgb(88, 72, 72);}
        h1 {color: black; background-color: hwb(4 22% 39%);}
        h2 {color: rgb(64, 62, 148); font-size: 20px;}
        p {font-family: Arial, Helvetica, sans-serif; text-align: justify;}
    