@charset "UTF-8";

* {
    font-size: 62,5%;
}

header {
    background-image: linear-gradient(to top, darkblue, darkgreen);
    padding: 1.0rem;
    margin: -1.5rem 0rem ;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    color: white;

}

main {
  background-color: rgb(241, 230, 179);
  padding: 1rem;
  border-radius: 0rem 0rem 0.8rem 0.8rem;
  position: relative;
  bottom: 31.4px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}