 @charset "UTF-8";

  *{
    font-family: Arial, Helvetica, sans-serif;
    
  }

   body {
     background-image: linear-gradient(to right, #D9CBBA, #A6634B, #BF4C41 );
   }

   main {
    background-color: aliceblue; /* Cor de fundo do site*/
    border-radius: 15px; /* Curvatura de um quadro*/
    box-shadow: 5px 5px 20px #662823; /* Cor da sobra do quadro*/
    width: 600px; /*Posicionamento*/
    padding: 10px; /* Posição do texto dentro do quadro */
    margin: auto; /*Centralizar texto e quadro*/
   }

   h1{
    color: #243750; /* Cor*/
    text-align: center; /*text align usado para alinhar texto, que neste caso usamos a tag center para Centralizar o texto*/
    text-shadow: 1px 1px 5px #2a405e; /*Sombra do texto*/
   }

   h2{
    color: #BF4C41;
   }

  p {
    text-align: justify;
  }
  