@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    font-size: 62.5%;
    
    --fontpadrao: 'Mulish';
    --fonth3: 'Playfair Display';
}

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  width: 100%;
  height: 100px;
  box-shadow: 1px -14px 19px 5px;
  }

.imglogo {
    width: 12rem;
    position: relative;
    bottom: 0.6rem;
    left: 3.0rem;
}

body {
    background-color: white;
}

main {
    min-width: 300px;
    max-width: 800px;
    padding: 7rem;
    margin: 20rem;
    margin-top: 3px;
}

 h2 {
    font-family: var(--fontpadrao);
    color: #1D1D35;
    font-size:6rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-weight: normal;
 }

 h3 {
    font-family: var(--fonth3);
    color: #1D1D35;
    font-weight: normal;
    font-size: 2.5rem;
    font-weight: 500;
    padding-top: 20px;
 }

 aside {
    font-size: 1.6rem;
    padding-top: 30px;
    padding-bottom: 30px;
 }


.imggaroto {
      max-width: 100%;
      height: auto;
}

 nav > a {
    color: black;
    position: relative;
    left: 55rem;
    bottom: 7.5rem;
    padding: 2.0rem;
    font-size: 2rem;
    text-decoration: none;
 }

 a:hover {
    text-decoration: underline;
    font-weight: bolder;
    
 }

p {
    font-size: 1.6rem;
}