@charset "UTF-8";

/* em HTML é id = em CSS é # (So poder ser usado uma vez)
em HTML é class = em CSS é . */ 


body {
    background-color: #5f9fa1;
}

h1 {
    color: #660369;
}

h1#principal {
    text-align: center;
    background-color:  #292929;
    color: white;
    font-style: italic;
    font-weight: 100%;
    font-size: 1.8em;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    }

   .basico {
   color: #085f14;;
   font-weight: bold;
   
   }

   .intermediario {
      color: #f5f1056c;
      font-weight: bold;
      
   }

   .avancado {
      color: #8b00009f;;
      font-weight: bolder ;
      font-size: 1.6em;
   }