@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&family=Story+Script&family=UnifrakturMaguntia&display=swap');
@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf);
}

* {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

:root {
    --cor00: rgb(223, 222, 212);
    --cor01: #7537C0;
    --cor02: #694496;
    --cor03: #55426B;
    --cor04: rgb(24, 24, 24);
    --cor05: #2c1a42;
    --cor06: #c7afe6;
  
    --Font-principal: 'Bebas Neue';
    --Font-titulo: 'Android';
}

body {
    margin: 0px;
    background-color: antiquewhite;
}

   header > h1 {
    font-family: var(--Font-principal);
    font-size: 4.5rem;
    color: var(--cor00);
    padding-bottom: 20px;
    margin: auto ;
    text-align: center;
    box-shadow: 5px;

               }
header > p {
    color: var(--cor00);
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    max-width: 600px;
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor05));
    padding: 25px;
    
}

nav > a {
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--cor01);
    margin: 5px;
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    
        }

nav a:hover {
    background-color: #25123d;
    color: #a191b4;
 
}

main {
    background-color: rgb(227, 212, 233);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 1px -1px 30px -3px;
    border-radius: 7px;
    
     }
     
     main strong {
        font-size: 1.6rem;
        color: #25123d;
     }

    main img {
        width: 100%;
    }

    main img.pequena {
        width: 50%;
        display: block;
        margin: auto;
    }

     main p {
        text-indent: 30px;
     }

main h1 {
    font-size: 3.5rem;
    font-family: var(--Font-titulo);
    background-image: linear-gradient(to right, #7537C0, #2c1a42);
    padding-left: 5px;
}

 main a {
    font-size: 1.6rem;
    background-color: #c7afe6;
    color: #25123d;
    font-weight: bolder;
    text-decoration: none;
    
 }

 main a:hover {
    text-decoration: underline;
 }

p {
    font-size: 1.6rem;
}

h2 {
    font-size: 3rem;
    font-family: var(--Font-titulo);
    background-image: linear-gradient(to right, #7537C0, #2c1a42);
    padding-left: 5px;
}

h3 {
    font-size: 2.7rem;
    
}

  .video {
    background-color: #25123d;
    padding: 20px;
    margin: 30px -20px;
    padding-bottom: 50.5%;
    position: relative;
  }

  .video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 350px;
    
  }
  
  aside {
     background-color: #a191b4;
     border-radius: 10px;
     padding: 1rem;
     
  }
  
  aside  h3 {
    margin: 0px;
    background-color: var(--cor02);
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
    font-size: 2.3rem;
    margin: -10px -10px 0px -10px;
  }

  .h33 {
    font-size: 2.3rem;
    position: relative;
    left: 4px;
    color: aliceblue;
  }

aside ul {
    font-size: 2.7rem;
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

ul abbr {
    font-size: 1.6rem;
    text-decoration: underline;
}

footer {
    color: white;
    background-color: #25123d;
    padding: 0px 10px 5px 0px ;
   
}

footer p {
    text-align: center;
     position: relative;
     top: 15px;
}

 footer a {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color:#c7afe6 ;
}