@charset "UTF-8";

body {
    background-color: rgb(241, 255, 136);
}

main {
    background-color: rgb(228, 228, 228);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-radius: 10px;
    width: 600px;
    padding: 5px;
    margin: auto;
    box-shadow: 5px 5px 15px rgb(177, 187, 102);
    
   
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(22, 22, 22);
    text-shadow: 5px 5px 18px rgb(104, 109, 67);
    text-align: center;
    font-size: 40px;
}

h2 {
    font-family:serif  ;
    text-align: center;
}